html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}
button,input,select,textarea{margin:0}
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}
/*img,video{height:auto;}*/
iframe{border:0}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0;text-align:left}


html,body{
    height: 100%;
}
#wrap{
    height: 100%;
}

.header{
    height: 80px;
}
.header-main{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header-main-logo{
    margin-top: 15px;
    float: left;
}

.header-main-nav{
    margin-top: 50px;
    float: right;
}

.header-main-nav li{
    float: left;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
    color: #009EE0;
}

.header-main-nav li:hover .header-main-bottom{
    width: 100%;
}

.header-main-nav li:first-child .header-main-bottom{
    width: 100%;
}

.header-main-nav li .header-main-bottom{
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    color: #000;
    overflow: hidden;
    transition: 1s width;
    height: 100%;
}

.header-main-arrow{
    position: absolute;
    left: 0;
    bottom: -11px;
    z-index: 99;
    width: 21px;
    height: 11px;

}

#content{
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.content-lists{
    position: absolute;
    left: 0;
    top: 0;
    height: 500%;
    width: 100%;
    transition: 1s top;
}
.content-lists>li{
    position: relative;
    height: 20%;
    background-repeat: no-repeat;
}
.content-lists>li:nth-child(1) {
    background-image: url('../imgs/bg1.jpg');
}
.content-lists>li:nth-child(2) {
    background-image: url('../imgs/bg2.jpg');
}
.content-lists>li:nth-child(3) {
    background-image: url('../imgs/bg3.jpg');
}
.content-lists>li:nth-child(4) {
    background-image: url('../imgs/bg4.jpg');
}
.content-lists>li:nth-child(5) {
    background-image: url('../imgs/bg5.jpg');
}